body {
  text-align: center;
  white-space: pre-line;
}
header {
  border-bottom: 2px black solid;
}
@media (max-aspect-ratio: 1/1) {
  #header {
    font-size: 10vw;
  }
  #firstLine::after{
    content:"\A";
  }
}
@media(min-aspect-ratio:1/1){
  #header{
    font-size: 5vw;
  }
}