body {
  text-align: center;
  white-space: pre-line;
}
header {
  border-bottom: 2px black solid;
}
@media (max-aspect-ratio: 1/1) {
  body{
    font-size:4.46vw;
  }
  #header {
    font-size: 10vw;
  }
  #firstLine::after{
    content:"\A";
  }
  #firstLine{
    position:relative;
    right:5vw;
  }
  #secondLine{
    position:relative;
    left:5vw;
  }
}
@media(min-aspect-ratio:1/1){
  body{
    font-size:2.23vw
  }
  #header{
    font-size: 5vw;
  }
}